#utilities
  %h1 New Service
  - if !current_user.has_basic_info
    .alert.alert-warning 
      You have not completed filling out your basic information. Please first 
      = link_to "Complete account", edit_user_path(current_user)
  - elsif current_user.payment_methods.blank?
    .alert.alert-warning 
      You have not completed filling out a payment method. Please first 
      = link_to "Add a payment method", new_payment_method_path
  - else
    .row
      .col-md-5
        = render 'form'