%h3 Services
- if @utilities.blank?
  %em You currently have no utilities saved
- else
  %table.table
    %thead
      %tr
        %th Name
        %th Account Number
    %tbody
      - @utilities.each do |utility|
        %tr
          %td= utility.name
          %td= utility.account_number
.row
  = link_to "Add a utility", "#", class: "btn btn-primary"