.tab-content
  #home.tab-pane.fade.in.active= render "home/dashboard"
  #services.tab-pane.fade= render "home/services"
  #account.tab-pane.fade= render "home/account"
  #payment_methods.tab-pane.fade= render "home/payment_methods"