#footer.center-text.footer
  .container.padding-top-20
    .row
      .col-md-12
        %strong Utilitizer, Inc. 
        Northeastern University | James Klein, Mike Evanoff, Chris Chu
    .row
      .col-md-12
        Copyright &copy; 2014. All rights reserved.